@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('./images/movie-background.jpg')
      center/cover no-repeat fixed;
  position: relative;
  overflow-x: hidden;

  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 800;
}

.logo {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  padding-top: 30px;
}

/* .searchAndBtnRow {
  align-items: center;
  display: flex;
  flex-direction: row;
} */

/* .showFav {
  display: flex;
  transform: translate(50px, 100px);
} */

/* input {
  width: 40%;
  border: 10px solid #0aa7c0;
  margin: 20px;
  padding: 20px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 20px;
  display: flex;
} */

/* .inputBtn {
  background-color: #fe0001;
  font-size: 25px;
  width: 15%;
  height: 20%;
  transition: background-color 1s;
  font-weight: bold;
  display: flex;
} */
/* 
.inputBtn:hover {
  background-color: #cb0000;
} */

img {
  height: 400px;
  width: 400px;
  /* border-radius: 50%; */
  padding-top: 30px;
}

.searchAndBtnRow {
  display: flex;
  flex-direction: row;
  border-radius: 1px 1px 1px 1px; 
  height: 60px;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: 18px;
  margin-left: 15%;
}

input {
  width: 40%;
  margin: 20px;
  padding: 20px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 20px;
  display: flex;
}

.inputBtn {
  background-color: #fe1100;
  font-size: 26px;
  text-align: center;
  font-family: "Helvetica";
  border-radius: 1px 3px 3px 1px;
  width: 10%;
  height: 65px;
  transition: background-color 1s;
  font-weight: bold;
  display: flex;
  margin-left: -20px;
  margin-bottom: 10px;
  margin-right: 1px;
}

.inputBtn:hover {
  background-color: #cb0000;
}

/* img {
  height: 400px;
  width: 300px;
} */
.logo {
  padding-bottom: 40px;
}
.App {
  text-align: center;
}
.container-fluid {
  background-color: #cccccf;
  justify-content: space-around;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 2%;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 2000px;
}
.showfav {
  background: rgb(36, 174, 184);
}

.showfav {
  background: rgb(36, 174, 184);
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 2%;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 2000px;
<<<<<<< HEAD

} */

