.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-view {
  position: fixed;
  background: rgb(36, 174, 184);
  width: 70%;
  height: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Helvetica, sans-serif;
  font-size: 19px;
  padding-top: 4.5%;
  /* list-style: none; */
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.movieModal-poster {
  height: 400px;
  width: 300px;
  margin: auto;
  padding-left: 200px;
  padding-right: 175px;
  padding-top: 1.5%;
  float: right;
}

button {
  height: 8%;
  margin-left: 3%;
  margin-right: -2.45%;
  padding-right: .7%;
  margin-bottom: 7%;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
  font-family: "Verdana";
  font-weight: 551;
  background-color:mintcream;
  outline: solid 1px #050505;
}

button:hover{
  color: #0f9ba0;
  font-size:medium;
  border: #5f5d5d solid 1.5px;
  background:#fff;
}


