/* We could  use some of this styling if the modal works */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-view {
  position: fixed;
  background: rgb(36, 174, 184);
  width: 70%;
  height: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.movieModal-poster {
  height: 400px;
  width: 310px;
  margin: auto;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 90px;
  float: right;
  /* need to make this responsive to smaller screens */
}

button {
  height: 8%;

}

